@charset "UTF-8";

.container {
	margin: 0 auto;
	padding: 50px 0;
	width: 100%;
	max-width: 1200px;
}

input[type=button], input[type=submit] {
	cursor: pointer;
}

h1 {
	font-size: 28px;
}

.boardTable {
	margin-top : 20px;
	border-top: 2px solid grey;
}

.boardTable, .boardTable thead, tbody  {
	width: 100%;
}

.boardTable thead tr {
	border-bottom: 1px solid #ececec;
}

.boardTable tr {
	display: flex;
	width: 100%;
	padding: 10px 0;
}

.boardTable th {
	width: 30%;
	font-size: 16px;
}

.boardTable th:nth-child(2) {
	flex-basis: 100%;
}

.boardTable thead tr {
	justify-contents: space-around;
}

.writerId {
	font-size: 14px;
    font-weight: bold;
}

.writingTime {
	margin-left: 15px;
    color: gray;
    font-size: 12px;
}

.boardContents {
	padding: 5% 0;
}

.btnContainer {
	display: flex;
	align-items: center;
	padding: 20px 0;
	margin: 0 auto;
	max-width: 1200px;
	margin-bottom: 20px;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}

.likeSpan {
	font-size: 14px;
    font-weight: bold;
}

#likediv {
	margin-left: 10px;
	margin-right: 15px;
	color: #4a85fd;
	font-size: 18px;
    font-weight: bold;
}

.boardBtn {
	display: flax;
}
 
#like_btn {
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	margin: 3px;
	padding: 5px;
	border: 1px solid skyblue;
	background-color: rgba(0,0,0,0);
	color: skyblue;"
}

#edit {
	border-radius: 5px;
	margin: 3px;
	padding: 5px;
	border: 1px solid #4a85fd;
	background-color: rgba(0,0,0,0);
	color: #4a85fd;"
}

#delete {
	border-radius: 5px;
	margin: 3px;
	padding: 5px;
	border: 1px solid #ff4848;
	background-color: rgba(0,0,0,0);
	color: #ff4848;"
}

.linkContainer {
	display: flex;
	width: 500px;
	margin: 0 auto;
}

.linkContainer a {
	display: block;
    margin: 40px auto;
    width: 120px;
    height: 40px;
    border-radius: 5px;
    line-height: 40px;
    font-size: 15px;
    color: #ffffff;
    text-align: center;
    background: #2186db;
    text-decoration: none;
}
