<!DOCTYPE html>
<html lang="ko">
<head>
    <title>MetaWorth</title>
    <!-- Meta Tags -->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="expire" content="-1" />
    <meta http-equiv="cache-control" content="no-cache" />
    <meta http-equiv="pragma" content="no-cache" />
    <meta http-equiv="imagetoolbar" content="no" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0">
    <meta name="robots" content="index,follow" />
    <!-- css, javascript -->
    <script type="text/javascript" src="static/js/jquery-3.1.1.js"></script>
    <script type="text/javascript" src="static/js/jquery-3.1.1.min.js"></script>
    <link rel="stylesheet" type="text/css" href="static/css/import.css" />
    <link rel="stylesheet" type="text/css" href="static/css/common.css" />

 
</head>
<body>

<div id="container">
    <div class="inner">
        <ul class="nav clearfix">
            <li class="fl on"><a href="#">인기</a></li>
            <li class="fl"><a href="#">최신</a></li>
            <li class="fl"><a href="#">팔로잉</a></li>
        </ul>
        <div class="flex">

            <div class="card">
                <div class="img"><img src="static/img/sample.jpg"></div>
                <div class="txt_box">
                    <div class="profile clearfix">
                        <div class="profile_img fl"><img src="static/img/profile_default.png"></div>
                        <div class="profile_name fl">닉네임어쩌구123</div>
                    </div>
                    <h2>이것은 제목입니다.</h2>
                    <ol class="clearfix">
                        <li class="fl">
                            <span id="like" class="like_on">999</span>
                        </li>
                        <li class="fl">
                            <span class="comment">999</span>
                        </li>
                    </ol>
                </div>
            </div>
            <div class="card">
                <div class="img"><img src="static/img/sample.jpg"></div>
                <div class="txt_box">
                    <div class="profile clearfix">
                        <div class="profile_img fl"><img src="static/img/profile_default.png"></div>
                        <div class="profile_name fl">닉네임어쩌구123</div>
                    </div>
                    <h2>이것은 제목입니다.</h2>
                    <ol class="clearfix">
                        <li class="fl">
                            <span id="like" class="like_off">999</span>
                        </li>
                        <li class="fl">
                            <span class="comment">999</span>
                        </li>
                    </ol>
                </div>
            </div>
            <div class="card">
                <div class="img"><img src="static/img/sample.jpg"></div>
                <div class="txt_box">
                    <div class="profile clearfix">
                        <div class="profile_img fl"><img src="static/img/profile_default.png"></div>
                        <div class="profile_name fl">닉네임어쩌구123</div>
                    </div>
                    <h2>이것은 제목입니다.</h2>
                    <ol class="clearfix">
                        <li class="fl">
                            <span id="like" class="like_off">999</span>
                        </li>
                        <li class="fl">
                            <span class="comment">999</span>
                        </li>
                    </ol>
                </div>
            </div>
            <div class="card">
                <div class="img"><img src="static/img/sample.jpg"></div>
                <div class="txt_box">
                    <div class="profile clearfix">
                        <div class="profile_img fl"><img src="static/img/profile_default.png"></div>
                        <div class="profile_name fl">닉네임어쩌구123</div>
                    </div>
                    <h2>이것은 제목입니다.</h2>
                    <ol class="clearfix">
                        <li class="fl">
                            <span id="like" class="like_off">999</span>
                        </li>
                        <li class="fl">
                            <span class="comment">999</span>
                        </li>
                    </ol>
                </div>
            </div>
            <div class="card">
                <div class="img"><img src="static/img/sample.jpg"></div>
                <div class="txt_box">
                    <div class="profile clearfix">
                        <div class="profile_img fl"><img src="static/img/profile_default.png"></div>
                        <div class="profile_name fl">닉네임어쩌구123</div>
                    </div>
                    <h2>이것은 제목입니다.</h2>
                    <ol class="clearfix">
                        <li class="fl">
                            <span id="like" class="like_off">999</span>
                        </li>
                        <li class="fl">
                            <span class="comment">999</span>
                        </li>
                    </ol>
                </div>
            </div>
            <div class="card">
                <div class="img"><img src="static/img/sample.jpg"></div>
                <div class="txt_box">
                    <div class="profile clearfix">
                        <div class="profile_img fl"><img src="static/img/profile_default.png"></div>
                        <div class="profile_name fl">닉네임어쩌구123</div>
                    </div>
                    <h2>이것은 제목입니다.</h2>
                    <ol class="clearfix">
                        <li class="fl">
                            <span id="like" class="like_off">999</span>
                        </li>
                        <li class="fl">
                            <span class="comment">999</span>
                        </li>
                    </ol>
                </div>
            </div>
            <div class="card">
                <div class="img"><img src="static/img/sample.jpg"></div>
                <div class="txt_box">
                    <div class="profile clearfix">
                        <div class="profile_img fl"><img src="static/img/profile_default.png"></div>
                        <div class="profile_name fl">닉네임어쩌구123</div>
                    </div>
                    <h2>이것은 제목입니다.</h2>
                    <ol class="clearfix">
                        <li class="fl">
                            <span id="like" class="like_off">999</span>
                        </li>
                        <li class="fl">
                            <span class="comment">999</span>
                        </li>
                    </ol>
                </div>
            </div>
            <div class="card">
                <div class="img"><img src="static/img/sample.jpg"></div>
                <div class="txt_box">
                    <div class="profile clearfix">
                        <div class="profile_img fl"><img src="static/img/profile_default.png"></div>
                        <div class="profile_name fl">닉네임어쩌구123</div>
                    </div>
                    <h2>이것은 제목입니다.</h2>
                    <ol class="clearfix">
                        <li class="fl">
                            <span id="like" class="like_off">999</span>
                        </li>
                        <li class="fl">
                            <span class="comment">999</span>
                        </li>
                    </ol>
                </div>
            </div>
            <div class="card">
                <div class="img"><img src="static/img/sample.jpg"></div>
                <div class="txt_box">
                    <div class="profile clearfix">
                        <div class="profile_img fl"><img src="static/img/profile_default.png"></div>
                        <div class="profile_name fl">닉네임어쩌구123</div>
                    </div>
                    <h2>이것은 제목입니다.</h2>
                    <ol class="clearfix">
                        <li class="fl">
                            <span id="like" class="like_off">999</span>
                        </li>
                        <li class="fl">
                            <span class="comment">999</span>
                        </li>
                    </ol>
                </div>
            </div>
            <div class="card">
                <div class="img"><img src="static/img/sample.jpg"></div>
                <div class="txt_box">
                    <div class="profile clearfix">
                        <div class="profile_img fl"><img src="static/img/profile_default.png"></div>
                        <div class="profile_name fl">닉네임어쩌구123</div>
                    </div>
                    <h2>이것은 제목입니다.</h2>
                    <ol class="clearfix">
                        <li class="fl">
                            <span id="like" class="like_off">999</span>
                        </li>
                        <li class="fl">
                            <span class="comment">999</span>
                        </li>
                    </ol>
                </div>
            </div>
            <div class="card">
                <div class="img"><img src="static/img/sample.jpg"></div>
                <div class="txt_box">
                    <div class="profile clearfix">
                        <div class="profile_img fl"><img src="static/img/profile_default.png"></div>
                        <div class="profile_name fl">닉네임어쩌구123</div>
                    </div>
                    <h2>이것은 제목입니다.</h2>
                    <ol class="clearfix">
                        <li class="fl">
                            <span id="like" class="like_off">999</span>
                        </li>
                        <li class="fl">
                            <span class="comment">999</span>
                        </li>
                    </ol>
                </div>
            </div>
            <div class="card">
                <div class="img"><img src="static/img/sample.jpg"></div>
                <div class="txt_box">
                    <div class="profile clearfix">
                        <div class="profile_img fl"><img src="static/img/profile_default.png"></div>
                        <div class="profile_name fl">닉네임어쩌구123</div>
                    </div>
                    <h2>이것은 제목입니다.</h2>
                    <ol class="clearfix">
                        <li class="fl">
                            <span id="like" class="like_off">999</span>
                        </li>
                        <li class="fl">
                            <span class="comment">999</span>
                        </li>
                    </ol>
                </div>
            </div>

        </div>       
    </div>
</div>
</body>
</html>