<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<!-- mybatis db 연결정보 세팅 파일 -->
<configuration>
<!-- mybatis.MemberDTO  : memberdto -->
<typeAliases>
	<typeAlias type="member.MemberDTO" alias="memberdto"/>
	<typeAlias type="community.CommunityDTO" alias="communitydto"/>
	<typeAlias type="community.LikeDTO" alias="likedto"/>
	<typeAlias type="comment.CommentDTO" alias="commentdto"/>

	<typeAlias type="showroom.ShowroomDTO" alias="showroomdto"/>

	<typeAlias type="product.ProductDTO" alias="productdto"/>
	<typeAlias type="shop.ShopDTO" alias="shopdto"/>
	<typeAlias type="productdetail.ProductdetailDTO" alias="productdetaildto"/>
	<typeAlias type="order.OrderDTO" alias="orderdto"/>

	<typeAlias type="cart.CartDTO" alias="cartdto"/>
	

</typeAliases>


</configuration>




